  body{
    background-image: url("/images/mix02.jpg");
  }

  .cont{
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .fileUpload{
    margin-top: 60px;
    border: 1px solid white;
    background-color: white;
    width:100%;
    height: fit-content;
    max-width: 40vw;
    border-radius: 10px;
  }

  #upSection{
    padding: 30px; 
    display: flex;
    flex-direction: column ;
  }


  #upTitle p{
    font-family: sans-serif;
    font-weight: 300;
    font-size: large;
  }


  #upInput{
    border: 1px dashed gray;
    border-radius: 7px;
    align-self: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    width:100%;
  }

  #upInput img{
    width: 150px;
    height: 120px;
    margin-bottom: 20px;
  }

  #upInput input{
    margin: 0px 0 0px 70px ;
    cursor:pointer;
  }

  #upBtn button{
    width:100%;
  }

  

  #detail-holder{
    position:absolute;
      right: 0;
      display:flex;
      flex-direction: row;
      margin-right: 10px;
      justify-content: space-between;
  }

  
#accout-board{
  margin-right: 4px;
  margin-top: 2px;
  border-radius: 10px;
  color:black;
  cursor:pointer;
}

  
.foot{
position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: #646b6a;
  }

  .foot p{
  margin-top: 17px;
	font-size: 20px;
  color: #fff;
  }



   /* card css */

   
.modalOwn-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display: flex;
  align-items: center;
justify-content: space-around;  
  height:100%;
  background:rgba(0,0,0,0.35);
  transition:var(--transition);
  z-index:100;
}

.modalOwn-container{
     padding:30px;
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 30%;
      height: 70vh;
      background-color: white;
      border-radius: 30px;
      transition: 0.3s ease-in-out all;


}

.modalOwn-img{
  height: 140px;
}

.modalOwn-img:hover{
  cursor: pointer;
}

.holder{
  transition: .5s ;
}

.holder:hover{
   transform: scale(1.1); 

}

.btn-cls{
  width:70%;
  margin: 8px 0  5px 0;
}

#icon img{
   width: 20px;
   height: 30px;
   cursor: pointer;
}
